.App {
  width: 70%;
  text-align: left;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
:root {
  --color-dark:  #161616;
  --color-ocean:  #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
}
.button {
  float: right;
  display: flex;
  overflow: hidden;

  margin-top: 6px;
  padding: 0px 10px;
  height: 20px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px var(--color-smoke);

  &:hover {
    transition: all 150ms linear;

    opacity: .85;
  }

  &:active {
    transition: all 150ms linear;
    opacity: .75;
  }

  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}
.button.-regular {
  margin-top: 2px;
  width: 20%;
  float: right;
  border-radius: 4px;
  color: #202129;
  background-color: #f2f2f2;

  &:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }

  &:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
}
.button.-salmon {
  color: var(--color-snow);
  background: var(--color-salmon);
}
.App {
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
}
.App h1 {
  font-family: 'Bitter', serif;
}
.App input[type="text"] {
  width: 75%;
  border-radius: 4px;
  border-style: solid;
  border-color: #333;
}
.App ul {
  line-height: 2rem;
  padding: 0;
}
.App li {
  list-style-type: none;
  border-bottom: 1px solid rgba(180, 180, 180, 0.5);
  width: 100%;
}
.checkboxTwo {
  float: left;
  margin-top: 6px;
  margin-right: 10px;
	width: 60px;
	height: 20px;
	background: #333;

	border-radius: 50px;
	position: relative;
}
input[type=checkbox] {
	visibility: hidden;
}
.checkboxTwo:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 10px;
	height: 2px;
	width: 40px;
	background: #111;
}
.checkboxTwo label {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	z-index: 1;
	left: 8px;
	background: #ddd;
}
.checkboxTwo input[type=checkbox]:checked + label {
	left: 42px;
	background: #26ca28;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
